body {
  font: 16px "Century Gothic", Futura, sans-serif;
  background: #25252b;
  color: #ffffff;
  height: 100%;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.gameList {
  margin: 50px;
  display: flex;
}

.hints {
  padding: 10px;
}

.border {
  margin: 0px 0px 0px 50px;
  padding: 15px;
  max-width: 500px;
  min-width: 350px;
  background: #3f3f45;
}

.CorrectText,
.IncorrectText {
  margin: 20px 10px;
  padding: 10px;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
}

.CorrectText {
  background: green;
}

.IncorrectText {
  color: red;
}

.status {
  margin-bottom: 10px;
}

.topLabels {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
  display: grid;
  vertical-align: top;
  writing-mode: vertical-rl;
  margin-left: auto;
}

.sideLabels {
  display: grid;
}

.rows {
  display: flex;
}

.grid {
  float: left;
  line-height: 34px;
  height: 34px;

  padding: 0;
  text-align: center;
  width: 34px;
}

.label.grid.side {
  border: none;
  margin-right: 4px;
  width: fit-content;
  place-self: flex-end;
  text-align: right;
}

.label.grid.top {
  border: none;
  margin-top: 4px;
  height: fit-content;
  text-align: left;
}

.square.grid.white {
  background: white;
  border: 1px solid #999;
}

.square.grid.green {
  background: #30d320;
  border: 1px solid #999;
}

.square.grid.red {
  background: #d10000;
  border: 1px solid #999;
}

.SquareSegment {
  border: 1px solid black;
  height: fit-content;
  margin: -1px -1px -1px 0px;
  width: max-content;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.gameBox {
  display: grid;
  height: 100%;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.errorText {
  margin: 20px 10px;
  background: #8f0000;
  padding: 10px;
}

.errorText:empty {
  display: none;
}

li {
  list-style-type: none;
  margin: 5px 0px;
  padding: 5px 10px;
  background: #25252b;
}

ul {
  margin: 0px;
  padding: 5px 0px;
}
